@model RS1_Ispit_asp.net_core.ViewModels.PopravniIspitDodajVM
@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodavanje popravnog ispita</h2>

<form asp-action="Snimi">

    <input asp-for="PopravniIspitId" hidden />
    <input asp-for="PredmetId" hidden />
    <input asp-for="SkolskaGodinaId" hidden />
    <input asp-for="SkolaId" hidden />


    <div class="form-group">
        <label>1. Član komisije: </label>
        <select asp-for="Komisija1Id" asp-items="@Model.Komisija1" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>2. Član komisije: </label>
        <select asp-for="Komisija2Id" asp-items="@Model.Komisija2" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>3. Član komisije: </label>
        <select asp-for="Komisija3Id" asp-items="@Model.Komisija3" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Datum </label>
        <input asp-for="Datum" asp-items="Model.Datum" class="form-control">
    </div>

    <div class="form-group">
        <label>Škola: @Model.Skola</label>
    </div>
    <div class="form-group">
        <label>Školska godina: @Model.SkolskaGodina </label>
    </div>
    <div class="form-group">
        <label>Predmet: @Model.Predmet</label>
    </div>


    <button>Snimi</button>


</form>


