@model RS1_Ispit_asp.net_core.ViewModels.PopravniIspitUrediVM
@{
    ViewData["Title"] = "Uredi";
}

<form asp-action="Snimi">
    <input asp-for="Id" hidden />

    <div class="form-group">
        <label>Predmeti: @Model.Predmet </label>
        
    </div>

    <div class="form-group">
        <label>Datum ispita: @Model.Datum.ToShortDateString()</label>
    </div>

    <div class="form-group">
        <label>Skola: @Model.Skola</label>
    </div>

    <div class="form-group">
        <label>Skolska godina: @Model.SkolskaGodina</label>
    </div>

    <div class="form-grpup">
        <label>Odjeljenje: @Model.Odjeljenje</label>
    </div>

</form>

<div id="ajaxDiv">

</div>

<script>
    $.get("/AjaxStavke/Index/@Model.Id", function(data, status)
        {
            $("#ajaxDiv").html(data);
        });
</script>